.container-fluid{
  overflow: hidden;
}

.list-container{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    background-color: #616161;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 2px solid;
    padding:0 15px;
  //overflow: hidden;

  .list-items{
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    //overflow: hidden;

    .list-item{
      display: block;
      position: relative;
      height: 100%;
      padding: 7px 21px 7px;
      color: #fff;
      white-space: nowrap;
      font-size: 12.5px;
      line-height: 29px;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: .3s;
      z-index: 2;
      height: 40px;

      &::after{
        content: '';
        display: block;
        width: 0;
        height: 105%;
        position: absolute;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.10);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        transition: .3s;
        opacity: 0;
        box-sizing: border-box;
        border-bottom: 2px solid #ef5661;
      }

      &:hover:after{
        width: 98%;
        opacity: 1;
      }
    }
  }

  .list-categories{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
  }

  .list-promotions{

    ul{

      li{
        background-color: #4f4f4f;
        padding-right: 28px;
        padding-left: 28px;
      }
    }
  }
}
