<div class="container-fluid">
  <div class="row">
    <ul class="list-container">
      <li class="list-categories">
        <ul class="list-items">
          <li class="list-item" *ngFor="let item of categories;">{{item}}</li>
        </ul>
      </li>
      <li class="list-promotions">
        <ul class="list-items">
          <li class="list-item">فروش ویژه</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
