<div class="header">
  <div class="header-logo">
    <a href=""></a>
  </div>
  <div class="header-search">
    <div class="search-input">
      <input type="text" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
      <button class="fal fa-search"></button>
    </div>
  </div>
  <div class="header-action">
    <a href="" class="seller">فروشنده شوید</a>
    <a href="" class="faq">سوالی دارید؟</a>
    <div class="button-container">ورود / ثبت نام
      <span class="fal fa-chevron-down"></span>
    </div>
    <div class="button-divider"></div>
    <div class="basket-container">
      <div class="basket">
        <div class="icon fal fa-shopping-cart"></div>
        <div class="counter">
          <div class="content">سبد خرید</div>
          <div class="counter-number">1</div>
        </div>
      </div>
    </div>
  </div>
</div>
