.header{
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 18px 15px 18px 0;

  .header-logo{
    flex: 0 0 155px;
    max-width: 155px;
    padding-right: 25px;
    transform: scale(1.1);

    a{
      color: #fff;
      height: 36px;
      display: block;
      text-align: right;
      text-indent: -1000em;
      background: url(../../../assets/media/logo.png) no-repeat 50%;
      background-size: cover;
      transition: background-position .3s cubic-bezier(.17,.67,.49,.93);
    }
  }
  .header-search{
    flex: 0 0 calc(100% - 705px);
    max-width: calc(100% - 705px);
    flex-grow: 1;
    padding-left: 75px;
    padding-right: 50px;

    .search-input{
      position: relative;
      height: 41px;

      input{
        width: 100%;
        height: 100%;
        border-radius:7px;
        background-color: #eceff1;
        border: 1px solid #d5dadd;
        color: #474747;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.833;
        padding: 10px 10px 9px;
        z-index: 2;
        position: relative;

        &:focus{
          outline: none;
        }
      }
      button{
        width: 60px;
        height: 100%;
        background-color: #ef5661;
        border-radius: 7px 0 0 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        z-index: 2;
        color: white;
        font-size: 26px;
      }
    }
  }
  .header-action{
    flex: 0 0 535px;
    max-width: 535px;
    display: flex;

    .seller{
      color: #606060;
      font-size: 12px;
      line-height: 3;
      display: flex;
      align-items: flex-end;
      margin-left: 28px;
      position: relative;
      white-space: nowrap;
      text-decoration: none;

      &::after{
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #606060;
      }

      &:hover::after{
        width: 100%;
        transition: width .3s ease-in-out;
      }
    }
    .faq{
      color: #606060;
      font-size: 12px;
      line-height: 3;
      display: flex;
      align-items: flex-end;
      margin-left: 28px;
      position: relative;
      white-space: nowrap;
      text-decoration: none;

      &::after{
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #606060;
      }

      &:hover::after{
        width: 100%;
        transition: width .3s ease-in-out;
      }
    }
    .button-container{
      position: relative;
      color: #6f6f6f;
      cursor: pointer;
      width: 154px;
      padding-left: 30px;
      margin-left: 20px;
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 14px;

      .fa-chevron-down{
        position: absolute;
        left: 5px;
      }

    }
    .button-divider{
      height: 30px;
      width: 0;
      border-right: 1px solid #606060;
      margin-top: 4px;
    }

    .basket-container{
      .basket{
        height: 105%;
        position: relative;
        max-width: 90%;
        width: 154px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 191, 214);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(0, 191, 214);
        border-image: initial;
        font-size: 14px;
        line-height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 5px;
        padding: 0 7px;
        margin-right: 18px;
        transform: translateY(-3%);

        .icon{
          width: 28%;
          font-size: 22px;
          height: 100%;
          line-height: 34px;
          text-align: center;
        }
        .counter{
          width: 69%;
          display: flex;

          .counter-number{
            content: attr(data-counter);
            height: 25px;
            line-height: 28px;
            vertical-align: middle;
            letter-spacing: -.3px;
            text-align: center;
            border-radius: 100%;
            display: block;
            margin-right: 5px;
            width: 25px;
            background: #00bfd6;
            color: white;
          }

          .content{
            content: attr(data-counter);
            background-color: #fff;
            height: 25px;
            line-height: 28px;
            vertical-align: middle;
            letter-spacing: -.3px;
            text-align: center;
            color: #00bfd6;
            border-radius: 100%;
            display: block;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
