<div class="carousel-container">
  <div class="carousel-items">
    <div class="full-carousel-item"
         *ngFor="let item of items; let itemIndex = index;"
         [ngStyle]="{'background-image': 'url(' + item + ')', 'opacity': itemIndex === activeItemIndex ? '1' : '0'}"

    ></div>
  </div>
  <div class="prev-container prev-nex-button" (click)="goToPreviousSlide()">
    <span class="prev-icon fal fa-chevron-left"></span>
  </div>
  <div class="next-container prev-nex-button" (click)="goToNextSlide()">
    <span class="next-icon fal fa-chevron-right"></span>
  </div>
  <div class="items-list-container">
    <div class="list-item"
         *ngFor="let item of items, let i = index;"
         [ngStyle]="{'background-color': i === activeItemIndex ? '#00bfd6' : '#FFFFFF'}"
         (click)="goToSpecificSlide(i)"
    ></div>
  </div>
</div>

<!--#00bfd6-->
