.carousel-container{
  height: 330px;
  width: 100%;
  position: relative;

  .carousel-items{
    width: 100%;
    height: 100%;
    position: relative;

    .full-carousel-item{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      opacity: 0;
      transition: .4s;

      .show{
        opacity: 1!important;;
      }
    }
  }
  .prev-nex-button{
    width: 60px;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 330px;
    cursor: pointer;
  }

  .prev-container{
    left: 3px;
    font-size: 24px;
    text-shadow: 0 2px 4px #616161;
    color: white;
  }
  .next-container{
    right: 3px;
    font-size: 24px;
    text-shadow: 0 2px 4px #616161;
    color: white;
  }

  .items-list-container{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);

    .list-item{
      width: 10px;
      height: 10px;
      background-color: #fff;
      opacity: .8;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
      margin: 0 6px!important;
      position: relative;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
