.container-fluid{
  background-color: #f5f5f5;
  margin-bottom: 15px;
}

[class*='col-']{
  padding-right: 15px;
  padding-left: 0;

  &:last-child{
    padding-left: 15px;
  }
}

.page-row{

  .col-2{
    min-width: 18%;
  }
  .col-10{
    max-width: 82%;
  }

  .banner{
    height: 405px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/media/gif-banner.gif");
    background-position: center;
  }
  .digistyle-banner{
    height: 385px;
    background-image: url("../../../assets/media/digistyle-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banners-container{

    .category-banner{
      width: 100%;
      height: 267px;
      background-size: 100% 100%;
      background-position: center;
    }

    &:nth-child(1){
      .category-banner{
        background-image: url("../../../assets/media/banner/1.jpg");
      }

    }
    &:nth-child(2){
      .category-banner{
        background-image: url("../../../assets/media/banner/2.jpg");
      }

    }
    &:nth-child(3){

      .category-banner{
        background-image: url("../../../assets/media/banner/3.jpg");
      }

    }
    &:nth-child(4){

      .category-banner{
        background-image: url("../../../assets/media/banner/4.jpg");
      }

    }
  }

  .large-banner-container{
    .category-banner{
      width: 100%;
      height: 267px;
      background-size: 100% 100%;
      background-position: center;
    }

    &:nth-child(1){
      .category-banner{
        background-image: url("../../../assets/media/banner/5.jpg");
      }

    }
    &:nth-child(2){
      .category-banner{
        background-image: url("../../../assets/media/banner/6.jpg");
      }

    }
  }

}
