<div class="container-fluid">
  <div class="row page-row">
    <div class="col-2">
      <app-card>
        <div class="banner"></div>
      </app-card>
      <app-card>
        <div class="digistyle-banner"></div>
      </app-card>
    </div>
    <div class="col-10">
      <app-card>
        <app-single-full-container-carousel [interval]="4000" [imagesSrc]="items"></app-single-full-container-carousel>
      </app-card>
      <app-card>
        <app-promotion-carousel
          [promotionItems]="promotionsService.promotionItems"
          [promotionTimeout]="promotionsService.promotionTimeout"
        ></app-promotion-carousel>
      </app-card>
    </div>
  </div>
  <div class="row page-row">
    <div class="col-3 banners-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
    <div class="col-3 banners-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
    <div class="col-3 banners-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
    <div class="col-3 banners-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
  </div>
  <div class="row page-row">
    <div class="col-6 large-banner-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
    <div class="col-6 large-banner-container">
      <app-card>
        <div class="category-banner"></div>
      </app-card>
    </div>
  </div>
</div>
