.promotion-carousel-container{
  display: flex;
  width: 100%;
  position: relative;

  .promotion-item-container{
    height: 463px;
    position: relative;
    width: calc(100% - 250px);

    .promotion-item{
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      transition: .4s;

      .item-image{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../../assets/media/promotions/badge.JPG);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 61%;


        img{
          width: 73%;
          height: 73%;
          object-fit: contain;
          margin-top: 35px;
          margin-right: 35px;
        }
      }
      .item-description{
        width: 50%;
        height: 100%;
        padding: 70px 25px 0 100px;
        transition: .4s;
        color: #515151;

        .actual-price{
          margin-right: 15px;
          font-size: 14px;
          line-height: 23px;
          position: relative;
          color: #727272;
          vertical-align: middle;
          display: inline-block;

          div{

            &::after{
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              height: 2px;
              width: 100%;
              content: "";
              background-color: #727272;
            }
          }
        }
        .promotion-price{
          display: flex;

          .price{
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 1.2px;
            color: #ef5661;
            vertical-align: middle;
            font-weight: 700;
            margin-top: 8px;

            span{
              padding-right: 15px;
              line-height: 27px;
              font-size: 14px;
            }
          }
          .discount-percent{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 115px;
            height: 38px;
            border-radius: 20px;
            background-color: #ef5661;
            margin-bottom: -45px;
            margin-right: 23px;
            color: white;
          }
        }
        .item-title{
          font-size: 15px;
          line-height: 1.89;
          font-weight: 700;
          text-align: right;
          max-width: 100%;
          margin: 20px 0 10px;
        }
        .item-description-container{

          ul{
            font-size: 13px;
            line-height: 1.692;
            padding: 0;
            list-style-type: none;
            margin-bottom: 15px;
            li{
              margin: 5px 0;
              padding-right: 17px;
              position: relative;
              line-height: 24px;
              text-align: right;

              &::before{
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #bebebe;
                position: absolute;
                right: 0;
                top: 50%;
                content: "";
                transform: translateY(-50%);
              }
            }
          }
        }
        .content-divider{
          height: 1px;
          width: 350px;
          border-top: 1px solid rgba(74,74,74,.16);
        }
        .timer{
          font-size: 32px;
          line-height: 1;
          width: 181px;
          font-weight: 500;
          white-space: nowrap;
          direction: ltr;
          padding-top: 13px;
          letter-spacing: 5px;
        }
        p{
          margin-top: 6px;
          font-size: 14px;
          line-height: 2.43;
          color: #787878;
          font-weight: 700;
        }
      }
    }
  }
  .categories-list{
    flex: 0 0 250px;
    max-width: 250px;
    letter-spacing: -.5px;
    color: #464646;
    border-right: 1px solid #ececec;
    z-index: 3;
    padding: 11px 0 47px;
    background-color: rgba(240,246,250,.9);
    position: relative;

    .categories-list-item{
      padding: 0 18px 0 10px;
      position: relative;
      color: #464646;
      max-width: 100%;
      transition: all .3s ease-in;
      transition-delay: .1s;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      line-height: 40px;
      cursor: pointer;

      &:hover{
        background-color: #ebebeb;
      }

      .active-badge{
        position: absolute;
        right: -9px;
        width: 6px;
        background-color: #ef5661;
        border-radius: 3px;
        top: 0;
        display: inline-block;
        height: 100%;
        opacity: 0;
        transition: .4s;
        transition-delay: .1s;
      }

    }
    .go-to-promotions{
      width: 100%;
      height: 47px;
      padding: 10px 40px 11px 30px;
      background-color: #00bfd6;
      box-shadow: 0 8px 14px 0 rgba(0,0,0,.03);
      border-radius: 0 0 0 3px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      justify-content: center;
      border: none;
      overflow: hidden;
      font-size: 14px;

      &::after{
        content: "";
        height: 90px;
        width: 90px;
        right: -55px;
        position: absolute;
        top: -20px;
        background-color: #fff;
        opacity: .21;
        border-radius: 100%;
        transition: .4s;

      }

      &:hover:after{
        transform: scale(7);
      }

      .icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }
  }
}
