<div class="promotion-carousel-container">
  <div class="promotion-item-container">
    <div
      class="promotion-item"
      *ngFor="let item of promotionItems; let itemIndex = index;"
      [ngStyle]="{'opacity': itemIndex === activeItemIndex ? '1' : '0'}"
    >
      <div class="item-image">
        <img [src]="item.imageSrc" alt="">
      </div>
      <div class="item-description">
        <div class="actual-price">
          <div>{{item.actualPrice | customCurrency | persianNumber }} تومان</div>
        </div>
        <div class="promotion-price">
          <div class="price">{{item.promotionPrice | customCurrency | persianNumber}} <span>  تومان</span></div>
          <div class="discount-percent">%{{item.promotionPercent | persianNumber}}  تخفیف  </div>
        </div>
        <div class="item-title">{{item.title }}</div>
        <div class="item-description-container">
          <ul>
            <li *ngFor="let desc of item.description">{{desc.title }} : {{desc.detail }}</li>
          </ul>
        </div>
        <div class="content-divider"></div>
        <div class="timer">{{splittedTime[0] | persianNumber}}:{{splittedTime[1] | persianNumber}}:{{splittedTime[2] | persianNumber}}</div>
        <p>زمان باقیمانده تا پایان سفارش</p>
      </div>
    </div>
  </div>
  <div class="categories-list">
    <div
      class="categories-list-item"
      [ngStyle]="{'background-color': activeItemIndex === i ? '#ef5661' : '', 'color': activeItemIndex === i ? '#ffffff' : ''}"
      *ngFor="let item of promotionItems; let i = index;"
      (click)="goToSpecificItem(i)"
    >
      {{item.category}}
      <span
        class="active-badge"
        [ngStyle]="{'opacity': activeItemIndex === i ? '1' : '0'}"
      ></span>
    </div>
    <button class="go-to-promotions">
      <span class="icon fa fa-long-arrow-left"></span>
      مشاهده همه شگفت‌انگیزها
    </button>
  </div>
</div>
