@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'assets/fonts/css/fontiran.css';

@import '~@fortawesome/fontawesome-pro/css/all.min.css';

*{
  font-family: IRANSans;
  text-align: right;
  direction: rtl;
  list-style: none;
}
